.graph {    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    overflow: hidden;
    box-sizing:border-box;
}

.graph_rows {
    display: flex;
    flex-flow: column-reverse;  
}

.graph_rows > div {
    display: flex;
    justify-content: left;
    align-items: center;    
    width: 100%;
}