.graph {
    /* position: relative;     */
    padding: 10px;
    background-color: blue;
    display: flex;
    align-items: center;
    padding: 15px;
}

.graph_rows {
    display: flex;
    flex-flow: column-reverse wrap;  
    width: 100%;  
}

.graph_rows > div {
    display: flex;
    /* justify-content: left; */
    justify-content: center;
    align-items: center;    
    width: 100%;
    /* border: 1px solid orange; */
}