.wrapper {
  width: 100%;
  height: 100%;
  background-color: orange;
  display: flex;
}

.itemPreviewGrid {
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
}

.itemPreviewGrid div {
/*   width: 100%; */
/*   height: 100%; */
/*  should be variable in state  */
  height: 100px;
  margin: 5px; 
  background-color: blue;
  display: flex;
  flex-flow: row wrap;
}

.itemPreviewGrid div img {
  width: 100%;
  height: auto;
}

.itemInfo {
  background-color: green;
}