.loglist {
    margin: 0px;
    padding: 0px;
    list-style:none;
}

.loglist li {
    padding: 10px 0px;
    border-bottom: 1px dotted white;
}

.error {
    color: red;
    border-color: red !important;
}

.timestamp {
    font-weight: bold;
    text-decoration:underline;
}