.editor {
    /* display: flex;
    flex-flow: column; */
    /* background-color: green; */
}

.content {
    width: 100%; 
    height: 100%;
}

.toolbar_label {
    
}

.no_node_selected {
    align-self: center;
    margin: 15px;
}

.ace_editor {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #000;
    border: 2px solid black;  
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}