.wrapper {
  padding: 15px;
}

.wrapper ul {
  margin: 5px 0px 15px 0px;
  padding-left: 15px;
}
.wrapper ul li {
  list-style: none;
  padding:1px; 
  
}

.wrapper h3 {
  margin: 0px;
}

.wrapper button, .wrapper input {
  width: 100%;
  padding: 2px 5px;
  border: none;
  cursor: pointer;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  white-space: pre;
  text-align: left;
}

.wrapper input {
  cursor: text;
}

.wrapper button:hover {
  background-color: white !important;
  mix-blend-mode: exclusion;
  color: black !important;
}

.activeButton {
  background-color: white !important;
  mix-blend-mode: exclusion;
  color: black !important;
}
