.wrapper {
  padding: 15px;
}

.wrapper button {
    padding: 2px 5px;    
    border: none;
/*     border-right: 1px dotted white; */
/*     border-color:inherit; */
    cursor: pointer;
    background-color: inherit;
    color: inherit;
    font-family:inherit;
    white-space: pre;
}

.wrapper button:hover {
  background-color: white !important;
  mix-blend-mode: exclusion;
  color: black !important;
}

.activeButton {
  background-color: white !important;
  mix-blend-mode: exclusion;
  color: black !important;
}
