.canvas {
  width: 100%;
}

.dropzone {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.dropzone > div {
  /*   height: 100%; */
  display: flex;
  flex-flow: column;
  align-items: center;
  float: left;
}

.dropzoneOverlay {
  position: absolute;
  color: black;
  visibility: hidden;
}

/* .dropzoneOverlay:hover {
  visibility: visible;
} */
