.canvas {
  width: 100%;
}

.dropzone {
  width: 100%;
  height: 100%;
}

.dropzone > div {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.dropzoneOverlay {
  position:absolute;  
}
                