.canvas {
  width: 100%;
}

.dropzone {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dropzone > div {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  float: left;
}

.dropzoneOverlay {
  position: absolute;
  color: black;
  /*   visibility: hidden; */
/*   background-color: orange; */
}

.dropzoneOverlay:hover {
  /*   visibility: visible !important; */
  /*   color:red; */
  background-color: white;
  mix-blend-mode: exclusion;
  color: black;
}
