.canvas {
  width: 100%;
}

.dropzone {
  position: relative; 
  cursor: pointer;
}

.dropzone > div {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  float: left;
}

.dropzoneOverlay {
  position: absolute;
  opacity: 0%;
}

.dropzoneOverlay:hover {
  opacity: 80%;
}

.noMediaOverlay {
  position: absolute;
}

.select {
  width: 100%;
}