.node {    
    display: flex;
    flex-direction: column;
    transition: max-height 800ms ease-in-out;
    max-height: auto;
    box-sizing: border-box;
}

.node input {
    width: 100%;
    max-width: 100px;
}

.node_bar {
    display: flex;
    background-color: black;
    border: 1px solid white;
    justify-content: space-between;
    align-items: center;
}

.node_container {
    /* max-width: 300px; */
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;    
    transition: max-height 800ms ease-in-out;
}

.node_container_inner {
    /* min-height: 110px; */
    transition: max-height 800ms ease-in-out;
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
    width: 100%;    
}

.node_container_inner > div {
    /* min-height: 110px; */
    padding: 10px;
    display:flex;
    flex-flow: column;
    width: 100%;
    color:black;
}

.node_container_inner > div > fieldset {
    padding: 2px;
    margin: 5px 0px;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    min-height: 56px;
}

.node_container_inner fieldset>div {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px;
    justify-content: center;
}

.node_legend {
    color: white; 
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px 10px;
}