.panel_group { 
    /* border: 1px s1olid white; */
    max-height: 100%;
    max-width: 100%;
}

.panel_group > div {
    display: flex !important;
    flex-flow: column;
    height:100%;
    width:100%;
}

.panel_group_container {
    height: 100%;
    display: flex;
    /* box-sizing: border-box; */
    flex-flow: row;
    /* margin: 15px; */
    background-color: #070808;
    overflow: auto;
    align-items: stretch;
    justify-content: left;
}

.fullscreen {
    width: 100% !important;
    height: 100% !important;
    transform: none !important;
    align-items: center;
    /* box-sizing: border-box; */
    border: none;
}



