.parameter_graph {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 15px;
}

.parameter_graph>fieldset {
    border: 1px dotted white;
    flex-grow: 2;
}

.parameter_graph>fieldset>label {
    position: relative;
}

.parameter_graph>fieldset>div {
    display: flex;
    /* flex-direction: column; */
    height: 100%;
    justify-content: center;
}

.inventory {
    width: 80px; 
    padding-left: 15px;
}

.inner {
    flex-grow: 2;
    display: flex;
    flex-flow: column;
}

.inner_label {
    padding: 5px;
}