.rail_wrapper {
    /* min-width: 100px;
    min-height: 100px; */
    display: flex;
    align-items: center;    
    justify-content: center;
}

.rail_wrapper>label {
    color: white;
    background-color: black;
    padding: 5px 15px;
    border: 1px solid white;
    font-weight: bold;
    position: absolute;
}

.rails {
    /* border: 1px solid red; */
    min-width: 100px;
    min-height: 100px;
    display:flex;
    flex-flow:row wrap;
    align-self:stretch;
    box-sizing: border-box;
}

.rails > div {
    outline: 1px dotted gray;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
}

.content {
    /* width: 100%; */
    /* he}ight: 100%; */
    position: absolute;
}
