.node {    
    display: flex;
    flex-direction: column;
    transition: max-height 800ms ease-in-out;
    max-height: auto;
    box-sizing: border-box;
}

.node input {
    width: 100%;
}

.node_bar {
    display: flex;
    background-color: black;
    border: 1px solid white;
    justify-content: space-between;
    align-items: center;
}

.node_buttons {}

.node_container {
    /* width: 250px; */
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;    
    transition: max-height 800ms ease-in-out;
}

.node_container_inner {
    /* min-height: 110px; */
    transition: max-height 800ms ease-in-out;
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
    width: 100%;    
}

.node_container_inner > div {
    /* min-height: 110px; */
    padding: 10px;
}

.node_legend {
    color: white; 
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px 10px;
}