.shelf {
    background-color: black;
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    height: 100%;
    /* max-height:100%; */
    background: linear-gradient(63deg, #111 23%, transparent 23%) 7px 0,
    linear-gradient(63deg, transparent 74%, #111 78%),
    linear-gradient(63deg, transparent 34%, #111 38%, #111 58%, transparent 62%),
    #222;
    background-size: 16px 24px;
    overflow-y: auto;
}