.credit {
  width: 100%;
  font-size: 0.8em;
  padding-left: 15px;
  /*     text-align: right; */
/*   position: absolute; */
/*   bottom: 0px; */
  display: flex;
  flex-flow: row;
  align-items: center;
  /*     right: 0px; */
}

.credit p {
  /*   margin:0px; */
}

.credit a {
  padding-left: 15px;
}

.title {
  height: 100%;
  width: 50%;
  font-size: 1.5em;
  padding-left:30px;
  height:100%;
/*   border-right: 1px solid white; */
}

.title h1 {
  margin: 0px;
}

.recent {
  width: 50%;
}

.titleWrapper {
  display: flex;
  flex-flow: row;
  flex-grow: 2;
}

.wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}