/*https://github.com/BillyNate/css-spreading-shapes/blob/master/dist/css/blueprint-grid.css*/
.gridpatterned {
  background-color: #269;
  background-image: -webkit-linear-gradient(
      rgba(255, 255, 255, 0.2) 2px,
      transparent 2px
    ),
    -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.2) 2px, transparent 2px),
        -webkit-linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
            -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.2) 1px, transparent
                  1px);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2) 2px,
      transparent 2px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.2) 2px, transparent 2px),
      linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

/* Diagonal checkerboard by Lea Verou, http://lea.verou.me */
.diamondpatterned {
  background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.1) 25%,
      transparent 25%,
      transparent 75%,
      rgba(255, 255, 255, 0.1) 25%,
      rgba(255, 255, 255, 0.1)
    ),
    linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.1) 25%,
      transparent 25%,
      transparent 75%,
      rgba(255, 255, 255, 0.1) 25%,
      rgba(255, 255, 255, 0.1)
    );
  background-size: 12px 12px;
}

/* this make sure that toolbars don't overlap with the text editor */
.CodeMirror {
  z-index: 0;
}

.p5Canvas {
/*   visibility: hidden; */
  display: contents;
}