html,
body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* font-family: monospace; */
  /* font-family: VCR OSD Mono, monospace; */
  font-family: Windows Command, monospace;
  /* font-family: Piacevoli, monospace; */
  font-size: 0.9em;
  /* font-family: "Lucida Console", Monaco, monospace; */
  /* font-family: "Courier New", Courier, monospace; */
}

fieldset  {
  box-sizing: border-box;
}

input  {
  font-family: Windows Command, monospace;
}

button {
  font-family: Windows Command, monospace;
}

.black_button:hover {
  background-color: white !important;
  color: black !important;
}

.white_button:hover {
  background-color: black !important;
  color: white !important;
}

.drawer{
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}

#defaultCanvas0 {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.flex-inner-wrapper {
  display: inherit;
  flex-flow: inherit;
  justify-content: inherit;
  align-items: inherit;
}

.invert  {
  color: white;
  background-color: black;
  padding: 5px;
}

#console input:focus {
  outline: none;
}

.inner button:focus {
  outline: none;
} 

/*to do*/
.inner {
  height : 0px;
 -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
      -o-transition: height 1s ease;
     -ms-transition: height 1s ease;
         transition: height 1s ease;
}
