.panel {    
    color: white;
    display: flex;
    flex-flow: column;
    min-width: 20px;
    min-height: 150px;
    overflow: hidden;
}

.panel_buttons {
    display: flex;
    background-color: black;
    align-content: center;
    align-items: center;
    border: 1px solid white;
    box-sizing:border-box;
    word-break: break-all;   
}

.panel_buttons button:hover {
    color: black;
    background-color: white;
}

.panel_buttons > label {
    color: white;
    background-color: black;    
}

.panel_content {
    padding: 0px;
    border: 1px dotted white;
    border-top: none;
    width:100%;
    height:100%;
    box-sizing:border-box;
}

.drag_handle {

}